# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VSCode directory
.vscode/

# Git .worktrees
.worktrees/

# Environment variables
.env

commits/repository_links_commits.json
src/Utilities/DBConnector.go